<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  google.charts.load('current', {'packages':['geochart']});
  google.charts.setOnLoadCallback(drawRegionsMap);


  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable([
      ['Country','Visited'],
      <% @countries.each do |country| %>
      ['<%= country.name %>','<%=country.visitstatus %>' === 'Visited'?1:0],
      <% end %>
    ]);


    var options = {
      defaultColor: '#90EE90',
      legend:'none',
      colorAxis:{colors:['#ff0000','#0000ff']}
    };

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }
  </script>
</head>

<body>
  <div id="regions_div" style= "width: 750px height: 400px"></div>
</body>
